.grid_container {
    background-color: skyblue;
    width: 100%;
    display: inline-grid;
    grid-template-areas: 
    'header header header'
    'menu main right'
    'menu main form'
    'footer footer footer';

    grid-template-columns: auto 60% auto;
}

.header {
    grid-area: header;
}
.nav_menu {
    grid-area: menu;
    width: 200px;
    padding-top: 7%;
}

.odloty {
    grid-area: main;
}

.opoznione {
    grid-area: right
}

.rezerwacja {
    grid-area: form;
}

.footer {
    grid-area: footer;
}

#success {
    display: flex;
    visibility: visible;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: snow;
    opacity: 0.9;
}

h1 {
    color: green;
    text-align: center;
    padding: 10px;
}

h3 {
    text-transform: uppercase;
    color: whitesmoke;
    font-size: x-large;
}

header {
    height: 80px;
}

body {
    text-align: center;
}

footer {
    background-color: aliceblue;
    color: green;
    font-family: sans-serif;
    font-size: 20px;
    width: 50%;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
table {
    border-color: teal;
    border-style: groove;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
th {
    font-size: large;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: rgb(14, 14, 15);
    border-style: groove;
    border-collapse: separate;
    border-color: blueviolet;
    border-width: 1px;
    text-align: center;
}

td {
    border-style: groove;
    border-collapse: separate;
    border-color: blueviolet;
    border-width: 1px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

p {
    width: 75%;
    margin-left: auto;
    margin-right: 12.5%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

}

#pierwszy {
    background-color: lawngreen;
}
#drugi {
    background-color: lightcoral;
}

img {
    display: block;
    position: absolute;
    top: 0;
    right: 0%;
    width: 80px;
}

#tablica {
    width: 100%;
}

#miasto {
    font-size: x-large;
    margin-left: 5%;
    margin-right: 5%;
}
#cdg {
    position: absolute;
    margin-right: 80%;
    margin-top: 3%;
}

#waw {
    position: absolute;
    margin-right: 10%;
    margin-top: 3%;
}

#samolot {
    padding-top: 200px;
    font-size: xx-large;

}

#a320{
    width: 30%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#pogoda > p{
    font-size: x-large;
}

#lista {
    font-size: x-large;
    text-align: left;
}

nav {
    margin: 0;
    padding: 0;
}

#menu {
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    text-align: center;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

#menu:visited {    
    color: blueviolet;
}

li a:hover {
    background-color: skyblue;
}

li {
    display: block;
    padding: 15px;
    background-color: lightsalmon;
    border-style: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li a {
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#cancelled {
    background-color: red;
}
#soft_delay{
    background-color: yellow;
}

#hard_delay {
    background-color: orange;
}

#hidden {
    display: none;
}
li:hover > #hidden > li {
    background-color: violet;
}

li:hover > #hidden {
    display: inline;
}

li:hover > #hidden > li:hover {
    background-color: tomato;
}

form {
    display: block;
}

#lista > li > b {
    visibility: hidden;
    color: green;
}

#lista > li:hover > b {
    visibility: visible;
}

li:nth-child(even) {
    background-color: lightblue;
}

li:nth-child(odd) {
    background-color: lightcoral;
}

#menu > li {
    background-color: lightsalmon;
}

#pas_head {
    text-align: left;
    font-size: x-large;
}